@model Veterinaria_AppWeb.ViewModels.ProductoViewModel
@{
    ViewData["Title"] = "Detalle Producto";
}

<h1 class="mb-4">Detalle de producto</h1>

<dl class="row">
    <dt class="col-sm-2">Nombre</dt>
    <dd class="col-sm-10">@Model.Nombre</dd>

    <dt class="col-sm-2">Categoria</dt>
    <dd class="col-sm-10">@Model.Categoria</dd>

    <dt class="col-sm-2">Stock</dt>
    <dd class="col-sm-10">@Model.Stock</dd>

    <dt class="col-sm-2">Precio</dt>
    <dd class="col-sm-10">@Model.Precio.ToString("C")</dd>
</dl>

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id_Producto" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</p>